.hero-text {
  font-size: 4rem;
  text-align: center;
}

.hero-button {
  margin: 15px auto;
}

.hero-image img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .hero-image {
    width: 70%;
    margin: 15px auto;
  }
}

@media screen and (min-width: 960px) {
  .hero-text {
    font-size: 4.5rem;
    text-align: left;
  }

  .hero-button {
    margin: 15px 0;
  }

  .hero-image {
    width: 100%;
  }
}
